<div class="resumes" id="<%= dom_id(resume) %>">

  <h4><b><%= link_to resume.title, resume %></b></h4>
  <p class="btn btn-default"><%= link_to "Edit Resume", edit_resume_path(resume) %></p>
  <p class="btn btn-default"><%= link_to "Delete Resume", resume, method: :delete, data: { confirm: "Are you sure you want to delete this resume entry?"}, remote: true %></p>
    <% if !resume.company.nil? %>
      <h4><%= resume.company %></h4>
    <% end %>
    <% if !resume.start_date.nil? || !resume.end_date.nil? %>
      <h5><%= resume.start_date %> - <%= resume.end_date %></h5>
    <% end %>
    <h5><b>Description:</b><br>
    <h5><%= resume.description %></h5>
    <% if !resume.project.nil? %>
    <h5><b>Project Desctription:</b> <%= resume.project %></h5>
    <% end %>
    <% if !resume.url.nil? %>
      <p><i class="fa fa-link"></i> <%= link_to "Visit Site", resume.url, target: "_blank"%></p>
    <% end %>

</div>
