<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-reorder"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><a href="/">My Voice</a></li>
    <li><%= link_to "home", "/#top" %></li>
    <li><%= link_to "voice", "/#voice" %></li>
    <li><%= link_to "experience", "/#experience" %></li>
    <li><%= link_to "showcase", "/#showcase" %></li>
    <li><%= link_to "about", "/#about" %></li>
    <li><%= link_to "contact", "/#contact" %></li>
    <li><%= link_to "social", "/#social" %></li>
  </ul>
</div>
<!-- /Side Menu -->
